<?php
// Zabbix GUI configuration file.
global $DB;

$DB['TYPE']     = '{{ "POSTGRESQL" if db_backend == "pgsql" else "MYSQL" }}';
$DB['SERVER']   = '{{ "127.0.0.1" if (db_backend == "pgsql" and zabbix_db_proxy_mode == "haproxy") else (zabbix_db_host if db_backend == "pgsql" else "localhost") }}';
$DB['PORT']     = '{{ (zabbix_db_proxy_port if zabbix_db_proxy_mode == "haproxy" else zabbix_db_port) if db_backend == "pgsql" else "0" }}';
$DB['DATABASE'] = '{{ zabbix_db }}';
$DB['USER']     = '{{ zabbix_user }}';
$DB['PASSWORD'] = '{{ zabbix_pass }}';

// Schema name. Used for IBM DB2 and PostgreSQL.
$DB['SCHEMA'] = '';

{% if not zabbix_ha_enabled %}
$ZBX_SERVER      = 'localhost';
$ZBX_SERVER_PORT = '10051';
{% endif %}
$ZBX_SERVER_NAME = '{{ ansible_hostname }}';

$IMAGE_FORMAT_DEFAULT = IMAGE_FORMAT_PNG;
